@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  font-family: 'Inter', cursive;
  caret-color: transparent;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  overflow-x: hidden
}

input {
  caret-color: auto;
}

@media (min-width: 640px) {
  ::-webkit-scrollbar-thumb {
    background-color: #733A8E;
  }
  
  ::-webkit-scrollbar {
    background-color: #FFFFFF;
    width: 10px;
  }
}

@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@theme {
  /* CORES */
  --color-my-primary: #3B7A58; 
  --color-my-secondary: #733A8E;
  --color-my-terciary: #36253F;
  --color-my-black: #000000;
  --color-my-gray: #A8A8A8;
  --color-my-white: #FFFFFF;
  --color-my-red: #dd3522;
  --color-my-pink: #DAC4E3;
}